<!doctype html>
<html>

  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="description" content={{description}}>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/dabbr.css') }}">
	
  </head>

  <body>
  
	<div class="header"><img src="static/images/coldsoup.jpg" alt="coldsoup"><h1>A little about Ukrainian food</h1><br>
    {% include 'navigation.html' %}
    {% block content %}{% endblock %}
	<div class="footer">Karina D'Abbraccio<br>Lab-6 2021<br><br></div>
  </body>

</html>