<table id ="menu">
     <caption>
		<details>
			<summary><span>Sample menu for adults for 3 days<span></summary>
			<p>Portion size can vary, but the weight of carbs is almost the same as protein<br>
			Bread weight included in carbs, better exclude, deserts and fruits before 4 pm<br>
			Salads and vegetables are unlimited, fruits up to 1 lb per day<br>
			</p>
		</details>
	</caption>
     <tr>
        <th>Meal</th>
        <th>Day 1</th>
        <th>Day 2</th>
		<th>Day 3</th>
     </tr>
     <tr>
        <th>Breakfast</th>
        <td>Eggs and salad<br>and bread</td>
		<td>Oatmeal with feta<br>and nuts</td>
		<td>Sandwitch with<br>cheese and ham</td>
      </tr>
      <tr>
        <th>Lunch</th>
        <td>Soup, potatoes,<br>chicken and salad</td>
		<td>Borsch, buckwheat,<br>meatballs, salad</td>
		<td>Borsch, rice, fish,<br> raw vegetables</td>
      </tr>
	  <tr>
        <th>Snack</th>
        <td>Fruit, nuts</td>
		<td>Fruit, cheese</td>
		<td>Fruit, toast</td>
      </tr>
	  <tr>
        <th>Dinner</th>
        <td>Buckwheat, veal,<br>raw vegetables</td>
		<td>Rice, chicken,<br>raw vegetables</td>
		<td>Beans, meatballs,<br>salad</td>
      </tr>
	  <tr>
        <th>Snack</th>
        <td>Kefir, dried bread</td>
		<td>Youghurt, plain cookies</td>
		<td>Sourkrout, toast</td>
      </tr>
    </table><br>
